<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/> 

  <arg name="rviz" default="true" />
  <arg name="dataset" default="botanical_garden_osnabrueck" />
  <arg name="dir" default="maps/$(arg dataset)" />
  <arg name="map_file" default="$(arg dir)/$(arg dataset).h5" />
  <arg name="map_config" default="$(find turtlebot3_mesh_nav)/configs/$(arg dataset)_map.yaml" />
  <arg name="nav_config" default="$(find turtlebot3_mesh_nav)/configs/$(arg dataset)_nav.yaml" />
  <arg name="part" default="mesh" />
  <arg name="planner_patience" default="10"/>

  <node name="move_base_flex" pkg="mbf_mesh_nav" type="mbf_mesh_nav" output="screen">
    <rosparam command="load" file="$(find turtlebot3_mesh_nav)/$(arg nav_config)"/>
    <rosparam command="load" ns="mesh_map" file="$(find turtlebot3_mesh_nav)/$(arg map_config)"/>
    <param name="planner_patience" value="$(arg planner_patience)"/>
    <param name="mesh_map/mesh_file" value="$(find turtlebot3_mesh_nav)/$(arg map_file)" />
    <param name="mesh_map/mesh_part" value="$(arg part)"/>
  </node>
  

  <!-- SMACH Navigation State Machine -->
  <node pkg="turtlebot3_mesh_nav" type="navigation_sm.py" name="navigation_smach" output="screen"/>
  

  <!-- RViz with config -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_mesh_nav)/$(arg dir)/$(arg dataset).rviz" />

</launch>
